[Unit]
Description=manticore Flask app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/manticore
Environment="PATH=/srv/manticore/.venv/bin"
ExecStart=/srv/manticore/.venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 app:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
